name: Tests

on:
  push:
    branches:
    - master

jobs:
  setup:
    name: Set up
    runs-on: ubuntu-latest

    outputs:
      case: ${{ steps.parse.outputs.case }}
      bld: ${{ steps.parse.outputs.bld }}
      test: ${{ steps.parse.outputs.test }}

    steps:
    - name: Checkout codes
      uses: actions/checkout@v2

    - name: Parse cases
      id: parse
      run: |
        var1=$(sed -n 1p ${GITHUB_WORKSPACE}/ci.test)
        var2=$(sed -n 2p ${GITHUB_WORKSPACE}/ci.test)
        var3=''
        [[ $var2 =~ thr || $var2 =~ mpi || $var2 =~ dcp || $var2 =~ rst ]] && var3+='std'
        [[ $var2 =~ bit ]] && var3+=' bit'
        [[ $var2 =~ dbg ]] && var3+=' dbg'
        var3=$(echo $var3 | sed -e 's/^ *//' -e 's/ *$//')
        var4='{"bld_set":['
        for i in $var3; do var4+="\"$i\","; done
        var4=$(echo $var4 | sed -e 's/,$//')
        var4+=']}'

        tv=()
        var5='{"test_set":['
        for i in $var2; do
          var5+="\"$i\","
          [[ $i =~ thr || $i =~ mpi || $i =~ dcp || $i =~ rst ]] && tv+=( std )
          [[ $i =~ bit ]] && tv+=( bit )
          [[ $i =~ dbg ]] && tv+=( dbg )
        done

        var5=$(echo $var5 | sed -e 's/,$//')
        var5+='],"include":['
        j=0
        #for i in $var2; do var5+="{\"test_set\":\"$i\",\"artifact\":\"${tv[$j]}\"},"; ((j++)); done
        var5=$(echo $var5 | sed -e 's/,$//')
        var5+=']}'

        echo $var1
        echo $var4
        echo $var5
